@charset "UTF-8";

* {
    height: max-content;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-image: linear-gradient(to bottom, #F2BE5C,#D98E32);
    background-attachment: fixed;
}

main{
    background-color: white;
    box-shadow: 10px 10px 10px black;
    border-radius: 15px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #7AB3BF;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2{
    color: #308C58;
}

p {
    text-align: justify;
}